<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/profile.js"></script>
</head>
<body>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mt-5">
                    <h3> This is a page for setting up Facebook User Profile. Click on the button to setup</h3>
                </div>
                <div class="mt-2">
                    <button type="button" class="btn btn-primary" id="submitFacebookProfile"> Submit </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
